{% extends '/layout/publiclayout.twig' %}

{% block headcontent %}
    <link rel="stylesheet" href="assets/css/policy.css">
{% endblock %}

{% block title %}
    <title>
        Politique de confidentialité
    </title>
{% endblock %}

{% block content %}
    <h1>Politique de confidentialité</h1>

    <p class="center">
        Ce site web ne collecte aucune de vos données.
    </p>
{% endblock %}