body{
    background: #000;
    color: #fff;
}
.center,
th{
    text-align: center;
}


#admin-options{
    display: flex;
    justify-content: center;
}
a{
    margin: 7px;
}

#btnCommentPanel{
    text-align: center;
    margin: 20px 0;
}

/*DISPLAY*/
table{
    margin-top: 20px;
}
#blog-infos{
    max-width: 90%;
    margin: 0 auto;
}
.article-content{
    display: none;
}

#displayPosts{
    width: 65%;
}
#displayComments{
    width: 30%;
}
#displayPosts{
    border-right: 3px solid orange;
    padding-right: 5px;
}
#displayComments{
    padding-left: 5px;
    border-left: 3px solid orange;
}
article > .displayContent{
    text-align: center;
}

/*CREATE*/
#addPost{
    padding-top: 30px;
    width: 85%;
    margin: 0 auto;
}
#article-title{
    width: 300px;
}
/*MODERATION*/
#nav-Pagination{
    display: flex;
    justify-content: center;
}
.comment-control-panel{
    margin-top: 5px;
}
.btn{
    margin-right: 5px;
}
.reportCount{
    color: #000;
}
.countNb{
    color: red;
}
label,
#modal-title{
    color: #000;
}