/*  GENERAL  */

body {
    height: 100%;
}
h6{
    margin-top: 50px !important;
}
nav{
    display: flex;
    justify-content: center;
}
/*INDEX*/
#newsletterForm{
    text-align: center;
}

/*  ADMIN PANEL  */

#admin-btn {
    padding: 30px 0;
    position: relative;
    text-align: center;
    bottom: 0;
}

/**/
.smallImg{
    max-height: 200px;
    max-width: 200px;
    float: left;
    margin-right: 20px;
}

.smallArticle{
    height: 250px;
}


/* ARTICLE */
#post{
    display: flex;
    flex-direction: column;
    align-items: center;
}

article,
.comment,
.subCommentContainer{
    width: 60%;
    margin: 0 auto;
}
article{
    width: 70%;
    margin: 20px 0;
}

.article-content > p > a,
.article-content > p > sup > a{
    color: cadetblue;
}

.article-link,
.article-link:hover{
    color: #000;
    text-decoration: none;
}

.article-content,
.comment,
.subComment,
.subSubComment{
    border: solid 2px #000;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 0;
}

.article-signature,
.article-content,
footer,
h1,
h3,
h6 {
    text-align: center;
    margin-top: 0;
}

.divider{
    width: 100%;
    height: 1px;
    background-color: #000;
}


.article,
.article-content,
.smallArticle,
.smallArticle > div,
article{
    height: 250px;
}
.smallArticle{
    margin: 0 auto 100px;
    max-width: 900px;
}
.article-content{
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 900px;
    margin: 0 auto;
}
article{
    margin-left: 200px;
}
.btn-control{
    margin-top: 25px;
}


/*COMMENT POST*/

ul,
li{
    list-style: none;
}
.comment,
.subComment,
.subSubComment{
    margin-bottom: 15px;
}
.comment-signature{
    margin-bottom: 0;
}

/*COMMENT FORM*/

#comment-form {
    width: 60%;
    margin: 0 auto;
}
textarea {
    white-space: pre-wrap;
    word-wrap: break-word;
}
