<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Blog projet openclassroom numéro 4">
        <meta name="author" content="Meiyo">
        <link rel="icon" href="assets/image/icon.jpg">

        {% block title %}{% endblock %}
        
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Place your stylesheet here-->
        <link href="assets/css/style.css" rel="stylesheet" type="text/css">
        <link href='./assets/css/adminpanel.css' rel='stylesheet' type='text/css'>
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css' integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay' crossorigin='anonymous'>
        {% block headcontent %}{% endblock %}
        <link rel="stylesheet" href="assets/css/custom/skin.min.css">
    </head>
        
    <body>

        <div id="admin-options">
            <a href="index.php?action=create"><button><i class="far fa-newspaper"></i> Créer nouvel article</button></a>      
            <a href='index.php?action=listArticles'><button class='edit-btn'><i class='far fa-edit'></i> Editer article</button></a>
            <a href="index.php?action=moderation"><button><i class="far fa-comment-dots"></i> Gestion des commentaires</button></a>
            <a href="index.php?action=users"><button><i class="fas fa-user-graduate"></i> Gestion des utilisateurs</button></a>
            <a href="index.php?action=logout"><button><i class="fas fa-sign-out-alt"></i> Se déconnecter ( {{ OnlineUser }} ) </button></a>
        </div>

        {% block content %}{% endblock %}

        <div id="admin-btn">
            <a href="index.php?action=admin"><button class="btn btn-info">Administration</button></a>
            <a href="index.php" ><button class="btn btn-info">Accueil</button></a>
        </div>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="node_modules/tinymce/tinymce.min.js"></script>
        <script src="assets/js/main.js"></script>
        <script src='./assets/js/admin.js'></script>
        <script src='assets/js/ajax.js'></script>
        <script src='assets/js/comment.js'></script>
        {% block script %}{% endblock %}
        {% block adminScript %}{% endblock %}
        
    </body>
        
    <footer>        
        <p>
            Site développé par LDM pour le 4e projet du parcours développeur web junior d'Openclassrooms
        </p>
        <a href="#">Politique de confidentialité</a>
    </footer>
</html>